@media screen and (min-width: 1025px) and (max-width: 1299px) {
  .info-left p {
    font-size: 5px;
  }
  .info-right img {
    height: 360px;
    width: 320px;
  }
  .info-left h1 {
    font-size: 25px;
    padding: 0 25px;
  }
  .info-left p {
    font-size: 15px;
    padding: 0 50px;
  }
  .footer-icon img {
    width: 150px;
  }
  .footer-wrapper p {
    font-size: 13px;
  }
  .social-links h4 {
    font-size: 17px;
  }
  .social-links img {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-left-links li {
    margin: 20px 0;
    padding: 0 10px;
  }
  .nav-right-links li {
    margin: 20px 0;
    padding: 0 10px;
  }
  .main-title {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .semboyan h1 {
    margin: 5px 0px;
    font-size: 20px;
    color: #c53510;
  }
  .info-left h1 {
    font-size: 24px;
    padding: 0 30px;
  }
  .info-left p {
    font-size: 14px;
    padding: 0 30px;
  }
  .info-right img {
    height: 300px;
    width: 250px;
  }
  .content-icon {
    width: 150px;
  }
  .content-icon img {
    height: 150px;
    width: 150px;
  }
  .footer-icon img {
    height: 90px;
    width: 140px;
  }
  .footer-wrapper p {
    font-size: 13px;
  }
  .social-links h4 {
    font-size: 17px;
  }
  .social-links img {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-left-links {
    display: none;
  }
  .nav-right-links {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
  .main-title {
    padding-top: 180px !important;
    padding-bottom: 150px !important;
  }
  .semboyan {
    margin: 0 55px;
  }
  .semboyan h1 {
    margin: 5px 0px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #c53510;
  }
  .heading {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    padding: 5px 0;
  }
  .info-left h1 {
    font-size: 20px;
    padding: 0 30px;
  }
  .info-left p {
    font-size: 13px;
    padding: 0 30px 30px 30px;
  }
  .info-right {
    margin-top: 30px;
  }
  .info-right img {
    height: 300px;
    width: 350px;
  }
  .heading2 {
    padding: 20px 0;
  }
  .heading2 h2 {
    font-size: 19px;
  }
  .heading2 p {
    font-size: 15px;
    padding: 0 10px;
  }
  .content-icon {
    width: 180px;
  }
  .content-icon img {
    height: 150px;
    width: 150px;
  }
  .content-icon p {
    margin-bottom: 15px;
  }
  .footer-icon img {
    height: 70px;
    width: 100px;
  }
  .footer-wrapper p {
    font-size: 12px;
  }
  .social-links h4 {
    font-size: 14px;
  }
  .social-links img {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-left-links {
    display: none;
  }
  .nav-right-links {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
  .main-title {
    padding-top: 180px;
    padding-bottom: 80px;
  }
  .semboyan {
    text-align: center;
    margin: 0 50px;
  }
  .semboyan h1 {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    color: #c53510;
  }
  .heading {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    padding: 10px 0;
  }
  .info-left h1 {
    font-size: 20px;
    padding: 0 10px;
  }
  .info-left p {
    font-size: 13px;
    padding: 0 20px;
  }
  .info-left,
  .info-right {
    flex-basis: 100%;
  }
  .info-right {
    margin-top: 30px;
  }
  .info-right img {
    height: 250px;
    width: 250px;
    margin: auto;
  }
  .heading h1 {
    padding: 0 10px;
    font-size: 17px;
  }
  .heading p {
    padding-top: 0px;
    letter-spacing: 1px;
  }
  .content-icon p {
    margin-bottom: 15px;
  }
  .heading2 {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .heading2 h2 {
    font-size: 17px;
    padding: 0 5px;
  }
  .heading2 p {
    font-size: 13px;
    padding: 0 20px;
  }
  .footer-icon img {
    height: 50px;
    width: 70px;
  }
  .footer-wrapper p {
    font-size: 10px;
  }
  .social-links h4 {
    font-size: 14px;
  }
  .social-links img {
    height: 22px;
    width: 22px;
  }
}
