* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
  font-family: montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf) format("truetype");
}
a {
  text-decoration: none;
}
.container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}
header {
  height: 100px;
  width: 100%;
  position: fixed;
}
.top-header {
  height: 60%;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.9);
}
.logo {
  float: left;
  width: 150px;
}

.nav-left-links li {
  float: left;
  display: block;
  margin: 20px 10px;
  padding: 0px 20px;
  font-size: 18px;
}
.nav-right-links li {
  float: right;
  display: block;
  margin: 20px 10px;
  padding: 0px 20px;
  font-size: 18px;
}
.nav-right-links a {
  color: #c53510;
  font-weight: bold;
}
.nav-left-links a {
  color: #c53510;
  font-weight: bold;
}
.bottom-header {
  height: 40%;
  width: 100%;
  background-color: #c53510;
}

main {
  width: 100%;
  background-color: white;
}
.jumbotron {
  max-width: 1500px;
  width: 100%;
}
.main-title {
  padding: 180px 0 200px 0px;
  background-image: url(../Image/Gnsampah.png);
  background-repeat: no-repeat;
  background-size: 100% 100% cover;
  text-align: left;
}
.semboyan {
  display: inline-block;
  margin: 0px 180px;
  background: linear-gradient(110deg, #c53510 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #ee5934 34%, #e44b24 34%);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: Gradient 10s ease infinite;
}
.semboyan h1 {
  margin: 5px 0px;
  font-size: 25px;
  padding-right: 10px;
  letter-spacing: 2px;
  color: #c53510;
}
.menu-icon {
  float: right;
  margin-top: 4px;
  padding: 10px 10px;
  display: none !important;
}
.menu-icon img {
  height: 30px;
  width: 30px;
}
.menu-icon h1 {
  font-size: 20px;
  float: left;
  margin: 0px 10px;
  color: #c53510;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin: 20px 0px;
  padding: 50px 0;
}
.info-left {
  text-align: justify;
  flex: 60%;
}
.info-left h1 {
  text-align: center;
  margin: 20px 0px;
  padding: 0px 50px;
  font-size: 30px;
  letter-spacing: 5px;
}
.info-left p {
  padding: 0px 50px;
  margin: 0 auto;
  letter-spacing: 3px;
  font-size: 17px;
  font-family: montserrat;
  font-weight: 1000;
}
.info-right {
  flex: 40%;
  margin: auto;
}
.info-right img {
  display: block;
  width: 380px;
  height: 380px;
  border-radius: 15px;
  margin: auto;
}

.main-content {
  text-align: center;
}
.heading2 {
  padding: 50px 0;
  color: white;
  font-weight: normal;
  background-color: rgba(197, 53, 16, 0.9);
  border-radius: 15px;
}
.content-wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
}
.content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 12px 0px;
  color: white;
  display: block;
  border-radius: 10px;
  margin: 0px auto;
}
.organik {
  background-color: #c53510;
  width: 150px;
}
.anorganik {
  background-color: #c53510;
  width: 150px;
}
.B3 {
  background-color: #c53510;
  width: 150px;
}
.padat {
  background-color: #c53510;
  width: 150px;
}

.content-icon {
  text-align: center;
  width: 200px;
  margin: 0px 10px;
}
.content-icon img {
  height: 200px;
  width: 200px;
  border: 1px solid #c53510;
  border-radius: 10px;
}
.content-icon p {
  margin-top: 10px;
}
.organik {
  display: inline-block;
}
footer {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 30px 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper p {
  display: block;
  margin-top: 80px;
  font-size: 13px;
}
.footer-icon img {
  width: 150px;
}
.social-links {
  text-align: center;
}
.social-links h4 {
  font-size: 17px;
  margin-bottom: 10px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 10% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}
